# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

# OS generated
.DS_Store
Thumbs.db
Desktop.ini

# Logs
logs/
*.log

# Environment
.env*
*.local

# Build
/build/

# Misc
*.swp 